<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.billthefarmer.scope"
    android:installLocation="auto"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

        <activity
            android:name=".quiz.ShowQuizActivity"
            android:label="ShowQuiz"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.billthefarmer.scope.MainActivity" />
        </activity>
        <activity
            android:name=".calc.CalcActivity"
            android:label="@string/title_activity_calc"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.billthefarmer.scope.MainActivity" />
        </activity>
        <activity
            android:name=".quiz.QuizActivity"
            android:label="Quiz"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.billthefarmer.scope.MainActivity" />
        </activity>
        <activity
            android:name=".docs.docListActivity"
            android:label="@string/title_doc_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.billthefarmer.scope.MainActivity" />
        </activity>
        <activity
            android:name=".docs.docDetailActivity"
            android:label="@string/title_doc_detail"
            android:parentActivityName=".docs.docListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.billthefarmer.scope.docs.docListActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SpectrumActivity" />
        <activity
            android:name=".HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>